<section class="col-xs-12 top-menu-bar" id="top-bar">
        <div class="center">
			<!-- make this into an image -->
            <h2 class="col-xs-3 col-sm-2 col-sm-offset-1"><a href="/#/">TAB</a></h2>
            <div class="form-group col-xs-8 col-sm-9">
                <div class="icon-addon addon-lg">
                    
					<form ng-submit="searchQuery()">
     
						<input type="text" 
						placeholder="Search Professors, Schools, or topics..." 
						class="form-control" 
						id="searchBox"
						ng-model="$root.query"
						/>
						<span ng-click="searchQuery()" for="searchBox" class="fa fa-search" title="Search"></span>
					</form>
                </div>
            </div>

        </div>
    </section>